*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.header_firstblock{
    display: flex;
    flex-direction: row;
    color: #0088A2;
    justify-content: space-around;
    width: 60%;
    margin: 3% 15%;
    font-size: 20px;
}
h1{ 
    margin-top: 10%;
    font-weight: 400;
}
 


button{
    background-color: aqua;
    display: flex;
    flex-direction: column;
}

.container2{
    position: relative;

}
.p1{
position: absolute;
margin-left: 7%;
margin-top: 10%;
color: white;

}
.p2{
    position: absolute;
    margin-left: 38%;
    margin-top: 10%;
    color: white;
    }
.p3{
    position: absolute;
    margin-left: 72%;
    margin-top: 10%;
    color: white;
    
        }
section{
    position: relative;
}
section img{
    width: 400px;
    margin: 2% 3%;
     }
     

    
     #img{
         width: 100%;
         margin-left: 3px;
         
     }
     #h2{
         margin-bottom: 5%;
         font-size: 80px;
         font-weight: 400;
         text-align: center;
         color: #0088A2;
     }
     
     .h3{
         color: 
         #0088A2
         ;
     }
     .first_section{
         width: 100%;
         height: 700px;
         margin: 5% auto;
         background: url(./images/rawpixel-559744-unsplash.png);
         background-size: cover;
         background-repeat: no-repeat;
         border-radius: 50px;
     }
     .container3{
         max-width: 100%;
         background-color: #808080;
         
     }
     .container4{
         width: 100%;
         
         margin-left: 5%;
     }
     .container4 li + li{
         margin-left: 158px;
     }
     #ul1{
         display: flex;
         list-style: none;
         justify-content: space-around;
         font-size: 31px;
         color: white;
     }
     .list{
         background-color:
         width: ;
     }

     .play{
         margin-left: 45%;
         margin-top: 20%;
         width: 100px;
         height: 100px;
     }
     .second_section{
         text-align: center ;
         color: #707070;
         font-size: 20px ;
     }
     #h3{
         font-size: 80px;
        color: 
        #0088A2;
        font-weight: 400;
        margin-bottom: 3%;
    }
    .third_section {
     margin-top: 5%;
     text-align: center;
     color: #707070;
     font-size: 25px;

    }
    .container{
        width: 100%;
        height: 600px;
        
        margin: 5% auto;
        position: relative;
    
    }
    .card1{
        width: 250px;
        position: absolute; 
        left: 18%;
        
        
    }
    
    
    .card2{
        width: 250px;
        position: absolute;
        left: 28%;
        top: 5%;
    }
        
    
    .card3{
        width: 250px;
        position: absolute;
        left:38% ;
    }
    .card4{
        width: 250px;
        position: absolute;
        left: 48%;
        top: 5%;
    }
    .card5{
        width: 250px;
        position: absolute;
        left: 60%;
    }
     #h4{
         color: #0088A2;
         font-size: 80px;
         padding: 5%;
         font-weight: 400;
     }
    #img2{
        width: 400px;
        margin-right: 9%;

        
    }
    #img3{
        width: 300px;
        margin-left: 30%;
    }
    .footer1{
        margin-top: 5%;
        width: 100%;
        height: 700px;
        background-color: #0088A2;  
        
    }
    #h5{
        text-align: center;
        padding: 5%;
        font-size: 70px;
        color: #FFFFFF;
        font-weight: 400;
    }
     .img5{
        
        width: 100px;
        height: 100px;
        margin-top: -3%;
        margin-left: 20%;
        
        
    }
    .ul1{
        color: #FFFFFF;
        margin-left: 10%;
        list-style: none;
        font-size: 20px;  
    }
    .ul2{
        color: #FFFFFF;
        margin-left: 40%;
        list-style: none;
        font-size: 25px;
    }
     
    
     .ul3{
       color: #FFFFFF;   
       margin-left: 80%; 
       font-size: 20px; 
       list-style: none;
         
     }
     .container3{
         position: relative;
     }
     .img7{
         position: absolute;
         margin-left: 32%;

     }
     .img6{
         position: absolute;
         margin-left: 20%;
     }
     /* .img5{
    margin-left: ;

     } */
     .ul1{
         position: absolute;
         margin-top: 7%;
     }
     .ul2{
        position: absolute;
        margin-top: 7%;
    }
    .ul3{
        position: absolute;
        margin-top: 7%;
    }
        .container4{
            display: flex;
            justify-content: space-around;
        }






  
 